<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

{{new-answer saveAnswer2="saveAnswer3"}}


<h2> Questions </h2>

<ul>
  {{#each model.questions as |question|}}
    <li>{{#link-to 'question' question.id}}{{question.screenName}}{{/link-to}}</li>
  {{/each}}
</ul>

{{#each model.questions as |question|}}
  <div class="row">
     <h4>{{question.query}}</h4>
     <img class="avatar" src={{question.avatar}}>
  </div>
  {{#link-to 'question' question.id}}<h3 class="hotlink">{{question.query}}</h3>{{/link-to}}
{{/each}}

<!-- {{new-question saveQuestion="saveQuestion"}} -->

<hr>
